# Android Studio
*.iml
.idea/
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Firebase
google-services.json

# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains specific
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
